html{
    font-size: 12px;
    font-family: 'Roboto Condensed', sans-serif;
}
*{
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
body {
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(100, 100, 100);
    color: #000000;
    padding: 25px;
    text-align: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-right: 20px;
}
nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}
nav a:hover {
    color: #000000;
}
.column-100{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.column-33-1{
    width: 33.33%;
    background-color: rgb(100, 100, 100);
    color: white;
    font-size: 2rem;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
}
.column-33{
    width: 33.33%;
}
.column-33-2{
    width: 33.33%;
}
.column-50{
    width: 50%;
    text-align: center;
}
.column-50-1{
    width: 50%;
    text-align: left;
}
h3{
    font-size: 3.4rem;
}
h4{
    font-size: 2.5rem;
}
p{
    font-size: 2rem;
}
a li{
    font-size: 2rem;
}
.margen{
    margin-left: 50px;
    margin-right: 10px;
}
.mapa{
    width: 95%;
    height: 300px;
    margin-top: 60px;
}
.boton-descarga {
    background-color:rgb(100, 100, 100);
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .boton-descarga:hover {
    background-color: #bbc8bc;
    color: black;
  }

  @media screen and (max-width: 500px){
    .column-33{
        width: 100%;
    }
    .column-33-1{
        width: 100%;
    }
    }