<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Curriculum in English</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/icon.png">
</head>
<header>
    <div class="row">
        <div class="emot">
            <a href="../index.html">🌐</a>
        </div>
        <div class="navegacion">
            <nav>
                <ul>
                    <li><a href="#quiensoy">🙎‍♂️Who I am</a></li>
                    <li><a href="#estudios">📚Studies</a></li>
                    <li><a href="#experiencia">🔨Experience</a></li>
                    <li><a href="#idiomas">🚩Languages</a></li>
                    <li><a href="#competencias">⛗Skills</a></li>
                    <li><a href="#software">💻Software</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<body>
    <div class="row">
        <div class="column-100">
            <h3>XAVIER MORENO</h3>
        </div>
    </div>
    <div class="row">
        <div class="column-50-1">
            <div class="margen">
                <h4 id="quiensoy"><strong>Who I am</strong></h4>
                <p>I am a computer science student who wants to learn and improve my knowledge in the computer sector. I am a punctual and committed person. I like to play sports and stay active and in good shape. I like spending time with my friends, and I enjoy going out with them.</p> 
            </div>
        </div>
        <div class="column-50-1">
            <iframe class="video" src="https://www.youtube.com/embed/8bbIt2P7P34" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="column-33">
            <div class="margen">
                <h4 id="estudios"><strong>Studies</strong></h4>
                <p><u>SMX2</u> 2022 - Present</p>
                <p><em>Jesuïtes Bellvitge - Centre d'Estudis Joan XXIII</em></p>
                <p><u>SMX1</u> 2021 - 2022</p>
                <p><em>Jesuïtes Bellvitge - Centre d'Estudis Joan XXIII</em></p>
                <p><u>ESO</u> 2016 - 2020</p>
                <p><em>Miquel Martí i Pol</em></p>
            </div>         
        </div>
        <div class="column-33">
            <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2195.6858027890858!2d2.109408991018955!3d41.35089996287348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sJesu%C3%AFtes%20Bellvitge%20-%20Centre%20d&#39;Estudis%20Joan%20XXIII!5e0!3m2!1sca!2ses!4v1683641549639!5m2!1sca!2ses" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="column-33">
            <div class="margen exp">
                <h4 id="experiencia"><strong>Experience</strong></h4>
                <p><u>Referee of the Catalan Football Federation</u></p>
                <p>2020 - Present</p> 
                <p><u>Intermediate level practices</u></p>
                <p>01/06/2022 - 04/09/2022</p>
                <p><em>Jesuitas Sarriá, Sant Ignasi</em></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-33">
            <div class="margen">
                <h4 id="idiomas"><strong>Languages</strong><h4>
                <img src="../img/ENfoto1.png" alt="" width="90%" class="foto">
            </div>
        </div>
        <div class="column-33">
            <div class="margen exp">
                <h4 id="competencias"><strong>Skills</strong></h4>
                <img src="../img/ENfoto2.png" alt="" width="90%" class="foto">
            </div>
        </div>
        <div class="column-33">
            <div class="margen exp">
                <h4 id="software"><strong>Software</strong></h4>
                <img src="../img/foto3.png" alt="" width="90%" class="foto">
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="row">
        <div class="column-50">
            <a class="boton-descarga" href="../img/Curriculum EN SMX1 Xavier Moreno.pdf" download>Download Curriculum in PDF</a>
        </div>
        <div class="column-50">
            <a class="boton-descarga" href="../index.html">Translate Curriculum to Spanish</a>
        </div>
    </div>
    <br><br>
</body>
<footer>
    <div class="row">
        <div class="column-33-1">
            <p>☏ 717 70 91 41</p>
        </div>
        <div class="column-33-1">
            <p>📍 Cornellà de Llobregat, 08940</p>
        </div>
        <div class="column-33-1">
            <p>✉ xavimoto11@gmail.com</p>
        </div>
    </div>
</footer>
</html>